* {
    box-sizing: border-box;
    --offset: 20px; /*значение отступов между колонками*/
    --greenColor: rgb(43, 114, 91);
}

.alignContainer {
    margin: auto;
    max-width: 1280px;
    width: 100%; 
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;   
    margin: 5px 0px;
}

.titleContainer {
    margin: auto;
    max-width: 1280px;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 60px;
    color: var(--greenColor);
    font-style: italic;
}

.bookContainer {
    display: flex;
    flex-direction: column;     
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border: 1px solid rgb(230, 226, 226);
    border-radius: 20px;    
    width: calc(100% / 4 - var(--offset));    
    max-width: 1024px; 
    box-shadow: 4px 4px 4px rgba(230, 232, 232, 0.982);
    text-align: center;
    padding: 10px;
    margin: 10px;
}
    
.image {    
    width: 80%; 
}

img {
    width: 90%; 
    border-radius: 20px; 
    padding: 10px;  
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -30px;
}

.textYear {
    color: rgb(153, 147, 147);
}

.textAuthors {
    color: var(--greenColor);
    font-style: italic;
    font-style: italic;
    font-size: 18px;
}

.button {
    display: flex;    
    width: 115%; 
    margin-bottom: -15px;  
}

button {   
    width: 50%;
    border: 1px solid rgb(212, 207, 207);
    background-color: white;
    padding: 20px;
    font-size: 18px;
    color:  rgb(106, 102, 102);
}

.buttonClose {
    border: none;
    padding: 0;
    width: 10%;
    background-color: rgb(244, 242, 242);
}

.buttonContainer {
    text-align: right;
    width: 110%;
}

button:hover {   
    background-color: rgb(44, 129, 129);
    color: white;
}

#openAddMenu {
    display: none;
}

.addMenu {
    display: flex;    
    justify-content: center;
    align-items: center;
    background-color: rgba(23, 21, 21, 0.324);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.addMenuContent {
    background-color: rgb(244, 242, 242);
    padding: 20px 50px;
    border-radius: 25px;
    border: 1px solid var(--greenColor);
    box-shadow: 3px 3px 10px var(--greenColor);  
    width: 40%;     
}

.addButton {
    width: 30%;    
    border: 1px solid var(--greenColor);
    border-radius: 20px;
    background-color: var(--greenColor);
    color: white;
    font-size: 20px;
}

.icon {
    font-size: 25px;
    color: rgba(51, 47, 47, 0.655);
    text-align: center;
}

.saveButton {
    margin: 20px 0;
    width: 100%;
}

.titleLabel {
    font-size: 23px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    margin: 10px;
    color:  rgb(24, 77, 66);
}

input {
    border: 1px solid var(--greenColor);
    border-radius: 10px;
    height: 40px;
    font-size: 18px;
    padding: 10px;
    width: 90%;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input:focus {
    outline-color: rgb(44, 129, 129); 
}

@media (min-width: 320px) and (max-width: 480px) {

    h1 {
        font-size: 30px;
        text-align: center;
    }

    .addButton {
        width: 80%;
        padding: 15px;
    }

    .mainContainer {
        margin: 5px;
    }

    .bookContainer {        
        width: calc(100% - var(--offset));       
    }

    .titleContainer {
        display: flex;
        flex-direction: column;
    }

    button {
        font-size: 15px; 
    }

    .addMenuContent {
        width: 90%;
        padding: 15px;        
    }

    .buttonContainer {
        width: 100%;
    }

}

@media (min-width: 481px) and (max-width: 768px) {

    h1 {
        font-size: 45px;
        text-align: center;
    }   

    .addButton {
        width: 60%;
        padding: 15px;
    }

    .mainContainer {
        margin: 5px;
    }

    .bookContainer {        
        width: calc(100%  / 2 - var(--offset));       
    }

    button {
        font-size: 15px;
    }

    .addMenuContent {
        width: 70%;
        padding: 15px;        
    }

    .buttonContainer {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .mainContainer {
        margin: 5px;
    }

    .bookContainer {        
        width: calc(100%  / 3 - var(--offset));       
    }
}

